<% flat = data.flats[owner] %>

<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.2) 100%), url('http://kitt.lewagon.com/placeholder/cities/<%= flat.city_slug %>');"">
  <%= image_tag "https://kitt.lewagon.com/placeholder/users/#{owner}", class: "img-circle" %>
  <div class="banner-content">
    <h1>Welcome to <%= flat.name %>!</h1>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h3> <%= flat.description %></h3>
      <div class="row">
        <div class="col-xs-12 col-sm-4">
          <div class="card">
            <div class="card-category"> <%= flat.city_name %></div>
            <div class="card-description">
              <h2><% if flat.wifi = true%> Wifi <%else%> Pas de Wifi <%end%></h2>
      <!--         <p>Rating : <%= flat.rating %></p> -->
              <p class="rating">
                <% flat.rating.times do %>
                    <i class="fa fa-star" style="color: #ffb400"></i>
               <%end%>
               <% (5 - flat.rating).times do %>
                    <i class="fa fa-star" style="color: #cacccd"></i>
              <% end %>
                </p>
            </div>
          </div>
        </div>
    </div>
    </div>
    <div class="col-md-6">
    <form action="#">
      <h4>Book this flat</h4>
      <div class="form-group">
        <div class="row">
          <div class="col-xs-6">
            <input type="text" class="form-control" placeholder="checkin" id="checkin">
          </div>
          <div class="col-xs-6">
            <input type="text" class="form-control" placeholder="checkout">
          </div>
        </div>
      </div>
      <div class="form-group">
        <select name="" id="guests" class="form-control">
          <option value="1">1 guest</option>
          <option value="2">2 guests</option>
          <option value="3">3 guests</option>
        </select>
      </div>
      <input type="submit" class="btn btn-danger" value="Book it" style="width: 100%">
    </form>
  </div>
</div>
</div>
